<h2><font color ="white">Street address</h2>
<form method = "post" action = "address">
  <input type="hidden" name="fname" value="<%=fname%>">
  <input type="hidden" name="lname" value="<%=lname%>">
  <input type = "text" name = "street" required autofocus>
<h2><font color ="white">City</h2>
  <input type = "text" name = "city" required>
<h2><font color ="white">State</h2>
  <input type = "text" name = "state" required>
<h2><font color ="white">ZIP</h2>
  <input type = "text" name = "zip" required>
<br><br>
  <input type="submit" value="Click here" onclick>
</form>
