<h2><font color = "white">First name</h1>
<form method = "post" action = "first_last">
  <input type = "text" name = "fname" required autofocus>
<h2><font color ="white">Last name</h1>
  <input type = "text" name = "lname" required>
<br><br>
  <input type="submit" value="Click here" onclick>
</form>
