<h5>First name</h5>
<form method = "post" action = "first_last">
  <input type = "text" name = "fname" required autofocus>
<h5>Last name</h5>
  <input type = "text" name = "lname" required>
<br><br>
  <input type="submit" value="Submit" onclick>
</form>
