<link href=“/css/layout.css” rel=“stylesheet”>

<style>
.monkeys {
  background-color: #033F90;
  padding: 0px 25px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border: 4px #4CAF50;
  border-radius: 8px;
  border-style: ridge;
}

</style>


<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>



<body>
  <div class="monkeys">
    <%=yield%>
  </div>
</body>
