<link href=“/css/layout.css” rel=“stylesheet”>

<style>
.monkeys {
  text-align: center;
  background-color: #00FF35;
  border-width: thin;
  border-color: black;  
}
</style>


<body>
  <div class="monkeys">
    <%=yield%>
  </div>
</body>
